* {
    font-family: "Instrument Sans";
}

.header-sobremim h1 {
    font-size: 70px;
    font-weight: bold;
    background: linear-gradient(25deg,
            rgba(241, 80, 160, 0.9) 0%,
            rgba(170, 86, 161, 0.9) 25%,
            rgb(250, 145, 160) 50%,
            rgba(193, 100, 183, 0.9) 75%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    margin-left: 50px;
}

.header-portfolio h1 {
    margin-left: 50px;
    font-size: 70px;
    font-weight: bold;
    background: linear-gradient(25deg,
            rgba(26, 23, 61, 0.9) 0%,
            rgba(162, 175, 240, 0.9) 8%,
            rgba(40, 42, 89, 0.9) 15%,
            rgba(177, 179, 243, 0.9) 30%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
}

.header-contato h1 {
    margin-left: 50px;
    font-size: 70px;
    font-weight: bold;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background: linear-gradient(25deg,
            rgb(61, 10, 56) 0%,
            rgb(168, 52, 157) 15%,
            rgb(83, 18, 76) 20%,
            rgb(174, 6, 180) 30%);
    background-clip: text;
    text-decoration-color: transparent;
    margin-bottom: -30px;
}

html,
body {
    margin: 0;
    /* remove margens padrão */
    padding: 0;
    /* remove espaçamento interno */
    border: none;
    /* garante que não haja borda */
    outline: none;
    /* remove contorno */
    background-color: transparent;
    /* evita fundo branco */
}

.section1 {
    background-image: url(leading\ page\ closed.png);
    padding: 0;
    width: 100%;
    background-size: cover;
    margin: 0;
    height: 100%;
    overflow-x: hidden;
    border: none;
    outline: none;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.section1 nav {
    display: flex;
    flex-direction: row;
    /* coloca olhos, caixas, pombos e legenda em coluna */
    align-items: center;
    justify-content: center;
    /* centraliza cada bloco */
    gap: 50px;
    /* espaço entre os blocos */
}

.section1 nav>div {
    display: flex;
    flex-direction: column;
    /* imagem em cima, botão embaixo */
    align-items: center;
    /* centraliza dentro da coluna */
    gap: 10px;
    /* espaço entre imagem e botão */
}

.section1 button {
    background-color: transparent;
    border-color: transparent;
    font-size: 35px;
    font-family: "Instrument Sans";
    font-weight: bold;
    color: #D9D9D9;
    cursor: pointer;
    width: 240px;
}

.section1 button:hover {
    position: relative;
    overflow: hidden;
    border-top: 0.1px solid #ffffff75;
    border-left: 0.1px solid #ffffff75;
    box-shadow: 5px 5px 12px rgba(0, 0, 0, 0.45);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
    font-size: 40px;
    border-radius: 30px;
    backdrop-filter: blur(8px);
}

.section1 nav img {
    width: 200px;
    /* ajuste conforme seu design */
    height: 200px;
    /* altura fixa para alinhar */
    object-fit: contain;
    /* mantém proporção dentro da caixa */
    display: block;
}

.section2 h2 {
    z-index: 21;
    font-size: 50px;
    font-weight: bold;
    text-align: right;
    color: #AA56A1;
    margin-right: 100px;
    margin-left: 0;
    margin-bottom: 0px;
}

.oiii {
    font-size: 20px;
    color: #6C0B61;
    text-align: right;
    font-weight: 500;
    margin-top: 0;
    /* Remove espaço acima */
    margin-bottom: 5px;
    /* Espaço pequeno abaixo */
    line-height: 1;
    letter-spacing: 1.3px;
}

.freelance {
    font-size: 20px;
    color: #AA56A1;
    text-align: right;
    font-weight: 500;
    margin-top: 0;
    /* Remove espaço acima */
    margin-bottom: 5px;
    /* Espaço pequeno abaixo */
    line-height: 1;
    letter-spacing: 0.2px;
}

.antigo {
    font-size: 20px;
    color: #6C0B61;
    text-align: right;
    font-weight: 500;
    margin-top: 0;
    /* Remove espaço acima */
    margin-bottom: 5px;
    /* Espaço pequeno abaixo */
    line-height: 1;
    letter-spacing: 0.009px;
}

.branças {
    font-size: 20px;
    color: #AA56A1;
    text-align: right;
    font-weight: 500;
    margin-top: 0;
    /* Remove espaço acima */
    margin-bottom: 5px;
    /* Espaço pequeno abaixo */
    line-height: 1;
    letter-spacing: 0.00009px;
}

.quando {
    font-size: 20px;
    color: #6C0B61;
    text-align: right;
    font-weight: 500;
    margin-top: 0;
    /* Remove espaço acima */
    margin-bottom: 5px;
    /* Espaço pequeno abaixo */
    line-height: 1;
    letter-spacing: 0.9px;
}

.universo {
    font-size: 20px;
    color: #AA56A1;
    text-align: right;
    font-weight: 500;
    margin-top: 0;
    /* Remove espaço acima */
    margin-bottom: 5px;
    /* Espaço pequeno abaixo */
    line-height: 1;
    letter-spacing: 0.9px;
}

.desenho {
    font-size: 20px;
    color: #6C0B61;
    text-align: right;
    font-weight: 500;
    margin-top: 0;
    /* Remove espaço acima */
    margin-bottom: 5px;
    /* Espaço pequeno abaixo */
    line-height: 1;
    letter-spacing: 0.6px;
}

.agem {
    font-size: 20px;
    color: #AA56A1;
    text-align: right;
    font-weight: 500;
    margin-top: 0;
    /* Remove espaço acima */
    margin-bottom: 20px;
    /* Espaço pequeno abaixo */
    line-height: 1;
    letter-spacing: 0.4px;
}

.busco {
    font-size: 20px;
    color: #6C0B61;
    text-align: right;
    font-weight: 500;
    margin-top: 0;
    /* Remove espaço acima */
    margin-bottom: 5px;
    /* Espaço pequeno abaixo */
    line-height: 1;
    letter-spacing: 1.1px;
}

.esteticas {
    font-size: 20px;
    color: #AA56A1;
    text-align: right;
    font-weight: 500;
    margin-top: 0;
    /* Remove espaço acima */
    margin-bottom: 5px;
    /* Espaço pequeno abaixo */
    line-height: 1;
    letter-spacing: 0.6px;
}

.conforto {
    font-size: 20px;
    color: #6C0B61;
    text-align: right;
    font-weight: 500;
    margin-top: 0;
    /* Remove espaço acima */
    margin-bottom: 5px;
    /* Espaço pequeno abaixo */
    line-height: 1;
    letter-spacing: 0.8px;
}

.designistico {
    font-size: 20px;
    color: #AA56A1;
    text-align: right;
    font-weight: 500;
    margin-top: 0;
    /* Remove espaço acima */
    margin-bottom: 5px;
    /* Espaço pequeno abaixo */
    line-height: 1;
    letter-spacing: 0.3px;
}

.lhar {
    font-size: 20px;
    color: #6C0B61;
    text-align: right;
    font-weight: 500;
    margin-top: 0;
    /* Remove espaço acima */
    margin-bottom: 20px;
    /* Espaço pequeno abaixo */
    line-height: 1;
    letter-spacing: 0.7px;
}


.veja {
    font-size: 20px;
    color: #AA56A1;
    text-align: justify;
    font-weight: 500;
    margin-left: 250px;
    margin-top: 0;
    /* Remove espaço acima */
    margin-bottom: 5px;
    /* Espaço pequeno abaixo */
    line-height: 1;
}

.section2 {
    position: relative;
}

.fotopessoalsobremim {
    z-index: 20;
    float: left;
    /* Faz a imagem ocupar o lado */
    width: 550px;
    height: auto;
    position: absolute;
    /* Recorta a imagem no mesmo formato */
    margin: 0px;
    top: 160px;
    left: 70px;
    align-items: start;
}

.behance {
    z-index: 40;
    width: 150px;
    height: auto;
    display: inline-block;
    right: 20px;
    position: absolute;

    margin-left: 820px;
    margin-top: 210px;
    margin-right: 50px;
    top: 65%;
}

.behancebotao {
    cursor: pointer;
}

.behancebotao:hover img {
    color: #5A1255;
    filter: saturate(1.5);

}

.textosobremim {
    z-index: 0;
    position: relative;
    overflow: hidden;
    border: 0.1px solid rgba(255, 255, 255, 0.3);
    /* branco suave */
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2),
        0 4px 20px rgba(0, 0, 0, 0.2);
    transition: all 0.4s cubic-bezier(0.175, 0.885, 0.32, 2.2);
    font-size: 40px;
    border-radius: 11px;
    backdrop-filter: blur(8px);
    padding: 20px;
    margin-top: 0px;
    margin-left: 250px;
    margin-right: 90px;
}

.modalsobre {
    display: none;
    /* escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
          z-index: 10000; /* modal acima dos ícones */

}

.modal-contentsobre {
    background-image: url(Sobre\ mim\ pagecerto.png);
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
          z-index: 10010; /* modal acima dos ícones */

}

.modal-contentsobre::-webkit-scrollbar {
    width: 10px;
}

.modal-contentsobre::-webkit-scrollbar-track {
    background: #D9D9D9;
    border-radius: 5px;
}

.modal-contentsobre::-webkit-scrollbar-thumb {
    background: #ff9d9f;
    /* rosa */
    border-radius: 5px;
}

.modal-contentsobre::-webkit-scrollbar-thumb:hover {
    background: #ff7cca;
    /* rosa mais forte */
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    background: url('botãosair.png') no-repeat center center;
    background-size: contain;
    /* ajusta ao tamanho */
    border: none;
    cursor: pointer;
    color: transparent;
    /* esconde texto */
    font-size: 0;
}

.close:hover {
    filter: brightness(6) contrast(6) saturate(6);
    transition: 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}

.modalportfolio {
    display: none;
    /* escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
          z-index: 10000; /* modal acima dos ícones */

}

.modal-contentportfolio {
    background-image: url(Portfolio\ page.png);
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
          z-index: 10010; /* modal acima dos ícones */

}

.modal-contentportfolio::-webkit-scrollbar {
    width: 10px;
}

.modal-contentportfolio::-webkit-scrollbar-track {
    background: #D9D9D9;
    border-radius: 5px;
}

.modal-contentportfolio::-webkit-scrollbar-thumb {
    background: #7C81D6;
    border-radius: 5px;
}

.modal-contentportfolio::-webkit-scrollbar-thumb:hover {
    background: #414370;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    background: url('botãosair.png') no-repeat center center;
    background-size: contain;
    /* ajusta ao tamanho */
    border: none;
    cursor: pointer;
    color: transparent;
    /* esconde texto */
    font-size: 0;
}

.close:hover {
    filter: brightness(6) contrast(6) saturate(6);
    transition: 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}




.modalcontato {
    display: none;
    /* escondido por padrão */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    justify-content: center;
    align-items: center;
    z-index: 10000;
    /* modal acima dos ícones */
}

.modal-contentcontato {
    background-image: url(slk.png);
    padding: 20px;
    border-radius: 8px;
    width: 70%;
    max-height: 80%;
    overflow-y: auto;
    position: relative;
    z-index: 10010;
    /* modal acima dos ícones */

}

.modal-contentcontato::-webkit-scrollbar {
    width: 10px;
}

.modal-contentcontato::-webkit-scrollbar-track {
    background: #D9D9D9;
    border-radius: 5px;
}

.modal-contentcontato::-webkit-scrollbar-thumb {
    background: #aa56a1;
    border-radius: 5px;
}

.modal-contentcontato::-webkit-scrollbar-thumb:hover {
    background: #5A1255;
    border-radius: 5px;
}

.close {
    position: absolute;
    top: 10px;
    right: 15px;
    width: 40px;
    height: 40px;
    background: url('botãosair.png') no-repeat center center;
    background-size: contain;
    /* ajusta ao tamanho */
    border: none;
    cursor: pointer;
    color: transparent;
    /* esconde texto */
    font-size: 0;
}

.close:hover {
    filter: brightness(6) contrast(6) saturate(6);
    transition: 0.3s;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: scale(0.9);
    }

    to {
        opacity: 1;
        transform: scale(1);
    }
}


.imagem-area {
    position: relative;
    /* reserva espaço fixo */
    margin: 0 auto;
    width: 250px;
    height: auto;
}

.fechado.olho {
    width: 160px;
    margin-left: 4px;
}

.aberto.olho {
    width: 138px;
    margin-top: -18px;
    margin-left: 4px;
}

.aberto.caixa {
    margin-top: -51px;
    margin-left: 15px;
}

.fechado.caixa {
    margin-left: 10px;
}

.aberto.pombo {
    margin-top: -15px;
    margin-left: 8px;
}

.fechado.pombo {
    margin-top: -3px;
}

.imagem-area img {
    position: absolute;
    top: 50%;
    /* centraliza verticalmente */
    left: 48%;
    /* centraliza horizontalmente */
    transform: translate(-50%, -50%);
    transition: opacity 0.2s ease;
    display: block;
    z-index: 0;
    /* aumenta suavemente */
}

.imagem-area img.aberto {
    opacity: 0;
}

.imagem-area img.fechado {
    opacity: 1;
}

.icone:hover .imagem-area img.fechado {
    opacity: 0;
}

.icone:hover .imagem-area img.aberto {
    opacity: 1;
    transform: translate(-50%, -50%) scale(1.2);
}

.icone button {
    margin-top: 70px;
    margin-bottom: -50px;
    /* espaço entre imagem e legenda */
}



.section3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-repeat: no-repeat;
}

.section3 h2 {
    font-size: 45px;
    font-weight: bold;
    color: #D9D9D9;
    padding: 0px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.ferramentatexto {
    font-size: 40px;
    font-weight: bold;
    color: #A2A3D2;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 158px;
    margin-bottom: -40px;
    margin-top: -30px;
}

.figma {
    margin-left: -9px;
}

.canva {
    margin-right: 3px;
}

.capcut {
    margin-left: 1px;
}

.logocapcut {
    width: 180px;
    height: auto;
    margin-left: 9px;
}

.logofigma {
    width: 180px;
    height: auto;
    margin-left: 25px;
}

.logocanva {
    width: 180px;
    height: auto;
    margin-left: 30px;
}

.section3 h3 {
    font-size: 37px;
    font-weight: bold;
    color: #A2A3D2;
    margin-top: 15px;
    margin-left: 20px;
    margin-bottom: 15px;
}

.tanajurafundorosa {
    width: 280px;
    height: auto;
    margin-left: -40px;
}

.tanajurafundomarrom {
    width: 280px;
    height: auto;
    margin-left: -80px;
}

.tanajurafundoreal {
    width: 280px;
    height: auto;
    margin-left: -75px;
}

.cormarrom {
    width: 450px;
    margin-left: -41px;
    margin-top: -8px;
}

.corrosa {
    width: 450px;
    height: auto;
    margin-left: -141px;
    margin-top: -20px;
}

.fontetanajura {
    width: 830px;
    margin-left: -40px;
    margin-top: -30px;
}

.ideia {
    font-size: 20px;
    font-weight: 500;
    color: #D9D9D9;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: -10px;
    margin-top: 10px;
}

.alem {
    font-size: 20px;
    font-weight: 500;
    color: #D9D9D9;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: -15px;
}

.postcarameloesquerdasuperior {
    width: 240px;
    height: auto;
    position: absolute;
    top: 10%;
}

.postninhoesquerdainferior {
    width: 250px;
    height: auto;
    position: absolute;
    top: 25%;
    left: 0%;
}

.postamendoimdireitasuperior {
    width: 250px;
    height: auto;
    position: absolute;
    z-index: 40;
    left: 59%;
}

.postcafedireitainferior {
    width: 250px;
    height: auto;
    position: absolute;
    left: 62%;
    top: 22%;
}

.celularpost {
    top: 11%;
    position: absolute;
    left: 29%;
    width: 270px;
}

.bannertanajurapublicaçao {
    margin-top: 700px;
    width: 400px;
    margin-left: -3%;
    margin-bottom: 150px;
}

.postcardapio1 {
    width: 250px;
    height: auto;
    position: absolute;
    z-index: 41;
    left: 49%;
    top: 43%;
}

.postcardapio2 {
    width: 250px;
    height: auto;
    position: absolute;
    z-index: 40;
    left: 63%;
    top: 56%;
}

.postnatalino3 {
    width: 250px;
    height: auto;
    position: absolute;
    z-index: 40;
    left: 51%;
    top: 68%;
}

.postnatalino4 {
    width: 250px;
    height: auto;
    z-index: 40;
    left: 58%;
    position: absolute;
    top: 80%;
}

.siteroberta1 {
    width: 600px;
}

.Card img {
    padding-left: 70px;
    background-color: transparent;
    display: inline-block;
}

.Card {
    background-color: rgb(217, 217, 217, 0.20);
    border: 0.1px solid rgba(255, 255, 255, 0.3);
    /* branco suave */
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2),
        0 4px 20px rgba(0, 0, 0, 0.2);
    backdrop-filter: blur(8px);
    border-radius: 11px;
    margin-left: 50px;
    margin-right: 50px;
    padding: 30px;
    margin-bottom: 40px;
    position: relative;
}

.retangulo1 {
    background-color: rgb(217, 217, 217, 0.20);
    border: 0.1px solid rgba(255, 255, 255, 0.3);
    /* branco suave */
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2),
        0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 11px;

    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 31px;
    margin-right: 31px;

    padding: 15px;
}

.estrelarobertapreta {
    width: 320px;
    height: auto;
    margin-left: -65px;
}

.estrelarobertabranca {
    width: 320px;
    height: auto;
    margin-left: -50px;
}

.setavaievem {
    width: 100px;
    height: auto;
    margin-left: -50px;
    margin-bottom: 90px;
}

.maior {
    font-size: 20px;
    font-weight: 500;
    color: #D9D9D9;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: -15px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.slider1 {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.carrosel1 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrosel {
    min-width: 100%;
    box-sizing: border-box;
}

.carrosel img {
    width: 828px;
    height: auto;
    align-items: center;
    align-content: center;
    margin-left: -40px;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    z-index: 10;
    background: none;
    /* remove fundo */
    padding: 0;
    /* tira espaço extra */
}

button.prev {
    left: -30px;
}

button.next {
    right: 40px;
}

button.prev img,
button.next img {
    width: 40px;
    /* controla tamanho da seta */
    height: auto;
}

button.prev:hover img,
button.next:hover img {
    filter: brightness(1.5) contrast(1.2);
    transition: 0.3s;
}

.siteroberta3 {
    width: 828px;
    height: auto;
    align-items: center;
    align-content: center;
    margin-left: -40px;
    display: block;
    margin-top: 20px;
    margin-bottom: -5px;
}

.slider2 {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.carrosel2 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrosel21 {
    min-width: 100%;
    box-sizing: border-box;
}

.carrosel21 img {
    width: 828px;
    height: auto;
    align-items: center;
    align-content: center;
    margin-left: -40px;
    display: block;
    margin-top: -10px;
    margin-bottom: 0px;
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    z-index: 10;
    background: none;
    /* remove fundo */
    padding: 0;
    /* tira espaço extra */
}

button.prev {
    left: -30px;
}

button.next {
    right: 40px;
}

button.prev img,
button.next img {
    width: 40px;
    /* controla tamanho da seta */
    height: auto;
}

button.prev:hover img,
button.next:hover img {
    filter: brightness(1.5) contrast(1.2);
    transition: 0.3s;
}

.slider3 {
    position: relative;
    width: 100%;
    overflow: hidden;
    margin: auto;
}

.carrosel3 {
    display: flex;
    transition: transform 0.5s ease-in-out;
}

.carrosel31 {
    min-width: 100%;
    box-sizing: border-box;
}

.carrosel31 img {
    width: 828px;
    height: auto;
    align-items: center;
    align-content: center;
    margin-left: -40px;
    display: block;
    margin-top: -20px;
    margin-bottom: 0px;
}

button.prev,
button.next {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    border: none;
    cursor: pointer;
    z-index: 10;
    background: none;
    /* remove fundo */
    padding: 0;
    /* tira espaço extra */
}

button.prev {
    left: -30px;
}

button.next {
    right: 40px;
}

button.prev img,
button.next img {
    width: 40px;
    /* controla tamanho da seta */
    height: auto;
}

button.prev:hover img {
    filter: brightness(0.7);
    transition: 0.3s;
}

button.next:hover img {
    filter: brightness(1.5) contrast(1.2);
    /* fundo mais escuro */
    transition: 0.3s;
}

.retangulo2 {
    background-color: rgb(217, 217, 217, 0.20);
    border: 0.1px solid rgba(255, 255, 255, 0.3);
    /* branco suave */
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2),
        0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 11px;

    margin-bottom: 40px;
    margin-left: 31px;
    margin-right: 31px;

    padding: 15px;
}

.cardsocialmediaescuro {
    width: 350px;
    height: auto;
    margin-left: -50px;
}

.cardsocialmediabrilhante {
    width: 340px;
    height: auto;
    margin-left: -10px;
}

.retangulo3 {
    background-color: rgb(217, 217, 217, 0.20);
    border: 0.1px solid rgba(255, 255, 255, 0.3);
    /* branco suave */
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2),
        0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 11px;

    margin-top: 20px;
    margin-bottom: 40px;
    margin-left: 31px;
    margin-right: 31px;

    display: flex;
    /* ativa flexbox */
    justify-content: flex-end;
    /* joga conteúdo para a direita */
    align-items: center;

    padding-bottom: 0px;

}

.textoffechado {
    right: 0;
    /* cola no lado direito */
    bottom: 40px;
    width: 190px;
    margin-right: -40px;
    margin-bottom: -10px;
    margin-top: -25px;
}

.setavaievem3 {
    width: 100px;
    height: auto;
    margin-right: -46px;
    margin-bottom: 30px;
    z-index: 30;
}

.textofaberto {
    right: 0;
    /* cola no lado direito */
    top: 50%;
    /* centraliza verticalmente */
    margin: 0;
    width: 450px;
    margin-right: -46px;
}

.caixa {
    font-size: 20px;
    font-weight: 500;
    color: #D9D9D9;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: -15px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.retangulo4 {
    background-color: rgb(217, 217, 217, 0.20);
    border: 0.1px solid rgba(255, 255, 255, 0.3);
    /* branco suave */
    box-shadow: inset 0 0 10px rgba(255, 255, 255, 0.2),
        0 4px 20px rgba(0, 0, 0, 0.2);
    border-radius: 11px;

    margin-bottom: 40px;
    margin-left: 31px;
    margin-right: 31px;

    padding: 15px;
}

.imgcontatopreto {
    width: 300px;
    height: auto;
    margin-left: -50px;
}

.seta4 {
    width: 100px;
    height: auto;
    margin-left: -50px;
    margin-bottom: 115px;
}

.imgcontatobranco {
    width: 300px;
    height: auto;
    margin-left: -40px;
}

.alternancia {
    font-size: 20px;
    font-weight: 500;
    color: #D9D9D9;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: -15px;
    margin-top: -10px;
    margin-bottom: -15px;
}

.banner {
    width: 828px;
    height: auto;
    align-items: center;
    align-content: center;
    margin-left: -40px;
    display: block;
    margin-top: -5px;
    margin-bottom: 20px;
}

.ybanner {
    width: 828px;
    height: auto;
    align-items: center;
    align-content: center;
    margin-left: -40px;
    display: block;
    margin-top: 20px;
    margin-bottom: 10px;
}

.movimento {
    font-size: 20px;
    font-weight: 500;
    color: #D9D9D9;
    text-align: justify;
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: -15px;
    margin-top: -10px;
    margin-bottom: 10px;
}

.selocontatopage {
    width: 400px;
    margin-left: 650px;
    margin-top: -20%
}

.aviso {
    width: 400px;
    background-image: url(obrigada\ pelo\ seu\ contato!.png);
    padding: 30px;
    border-color: #6C0B61;
    border-radius: 11px;
    z-index: 999;
    display: none;
    position: absolute;
    /* relativo ao formulário */
    top: -80px;
    /* aparece acima do formulário */
    left: 50%;
    /* centraliza horizontalmente */
    transform: translateX(-50%);
}

.linha {
    display: flex;
    align-items: center;
    gap: 20px;
    margin-bottom: 20px;
}

.linha h2 {
    margin: 0;
}

.contatopara h2 {
    display: inline-block;
    background-color: rgb(170, 86, 161);
    font-size: 30px;
    color: rgb(217, 217, 217);
    padding: 20px;
    border-radius: 11px;
    margin-left: 50px;
}

.emaillink {
    display: inline-block;
    background-color: rgb(217, 217, 217, 0.4);
    text-decoration: underline;
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    padding: 20px;
    color: #D9D9D9;
    border: 3px solid rgb(170, 86, 161);
    box-shadow: inset 0px 4px 10.9px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    width: 540px;
}

.contatonome h2 {
    display: inline-block;
    background-color: rgb(170, 86, 161);
    font-size: 30px;
    color: rgb(217, 217, 217);
    padding: 20px;
    border-radius: 11px;
    margin-left: 50px;
}

.contatoseunome {
    display: inline-block;
    background-color: rgb(217, 217, 217, 0.4);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    padding: 20px;
    color: rgb(90, 18, 85);
    border: 3px solid rgb(170, 86, 161);
    box-shadow: inset 0px 4px 10.9px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    width: 520px;
    height: 32px;
    left: 311px;
    top: 273px;
}

.contatoseunome::placeholder {
    color: rgb(157, 56, 147);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.contatoemail h2 {
    display: inline-block;
    background-color: rgb(170, 86, 161);
    font-size: 30px;
    color: rgb(217, 217, 217);
    padding-top: 20px;
    padding-bottom: 20px;
    padding-left: 24px;
    padding-right: 24px;
    border-radius: 11px;
    margin-left: 50px;
}

.contatoseuemail {
    display: inline-block;
    background-color: rgb(217, 217, 217, 0.4);
    font-size: 24px;
    font-style: normal;
    font-weight: 600;
    padding: 20px;
    color: rgb(90, 18, 85);
    border: 3px solid rgb(170, 86, 161);
    box-shadow: inset 0px 4px 10.9px rgba(0, 0, 0, 0.1);
    border-radius: 11px;
    width: 520px;
    height: 32px;
    left: 311px;
    top: 370px;
}

.contatoseuemail::placeholder {
    color: rgb(157, 56, 147);
    font-style: normal;
    font-weight: 600;
    font-size: 24px;
}

.contatoassunto h2 {
    display: inline-block;
    background-color: rgb(170, 86, 161);
    font-size: 30px;
    color: rgb(217, 217, 217);
    padding: 20px;
    border-radius: 11px;
    margin-left: 50px;
}

.contatoseuassunto {
    display: inline-block;
    background-color: rgb(217, 217, 217, 0.4);
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
    padding: 20px;
    color: rgb(90, 18, 85);
    border: 3px solid rgb(170, 86, 161);
    border-radius: 11px;
    box-shadow: inset 0px 4px 10.9px rgba(0, 0, 0, 0.1);
    width: 489px;
    height: 32px;
    left: 370px;
    top: 467px;
}

.contatoseuassunto::placeholder {
    color: rgb(157, 56, 147);
    font-size: 24px;
    font-weight: 600;
    font-style: normal;
}

/* Caixa do título */
.contatomensagem h2 {
    background-color: rgb(170, 86, 161);
    /* roxo */
    color: rgb(217, 217, 217);
    padding: 20px;
    border-radius: 11px;
    font-size: 30px;
    font-weight: bold;
    display: flex;
    align-items: center;
    /* centraliza o texto verticalmente */
    justify-content: center;
    width: 165px;
    margin-left: 50px;
}

.linha {
    display: flex;
    /* coloca os elementos lado a lado */
    align-items: stretch;
    /* alinha verticalmente */
    gap: 20px;
    /* espaço entre o título e a caixa */
}

/* Caixa de texto */
.contatodiga {
    width: 445px;
    height: 271px;
    background-color: rgb(217, 217, 217, 0.4);
    border: 3px solid rgb(170, 86, 161);
    border-radius: 11px;
    padding: 20px;
    font-size: 24px;
    font-weight: 600;
    color: rgb(90, 18, 85);
    resize: none;
    box-shadow: inset 0px 4px 10.9px rgba(0, 0, 0, 0.1);
}

/* Placeholder */
.contatodiga::placeholder {
    color: rgb(157, 56, 147);
    font-style: normal;
}

#botao {
    background-color: rgb(90, 18, 85);
    font-size: 30px;
    font-weight: bold;
    border: 1px solid black;
    border-radius: 11px;
    color: rgb(217, 217, 217);
    box-shadow: 0px 4px 5.5px rgba(0, 0, 0, 0.45);
    height: 78px;
    margin-left: 50px;
    top: 862px;
    width: 715px;
    transition: background-color 0.3s;
    cursor: pointer;
    margin-bottom: 30px;
}

#botao:hover {
    background-color: rgb(170, 86, 161);
    color: rgb(217, 217, 217);
}

#botao.enviado:hover {
    background-color: rgb(170, 86, 161);
    color: rgb(217, 217, 217);
}

.footer-leading {
    text-align: center;
    font-weight: 600;
    margin-bottom: 20px;
    color: white;
}

.footer-sobremim {
    color: #AA56A1;
    position: absolute;
    font-weight: 600;
    text-align: center;
    justify-content: center;
    transform: translateX(-50%);
    bottom: -200px;
    /* distância do fundo */
    left: 50%;
    padding-bottom: 10px;
}

.footer-portfolio {
    color: white;
    font-weight: 600;
    text-align: center;
}

.footer-contato {
    color: #aa56a1;
    font-weight: 600;
    text-align: center;
}